<% if signed_in? %>
<div class="row">
	<aside class="span12">
		<div>
			<% if @f.present? %>
			<a class="close" data-dismiss="alert" href="#">&times;</a>
			<h1>[ Caso da Semana ] </h1>
			<%= render 'facts/fact' %>
			<% end %>
		</div>
	</aside>
	<aside class="span4">
		<section>
			<%= render 'shared/user_info' %>
		</section>
		<section>
			<%= render 'shared/stats' %>
		</section>
		<section>
			<%= render 'shared/argument_form' %>
		</section>		
	</aside>
	<div class="span8">
		<h3>Argumentos</h3>
		<%= render 'shared/feed' %>
	</div>
</div>
<% else %>
<div class="center hero-unit">
	<h1>Bem vindo ao Arg.</h1>

	<h2>O Assistente de Argumentação Jurídica (ARG.) que irá auxiliá-lo no armazenamento, produção e aprimoramento de argumentos jurídicos.</h2>

	<%= link_to "Cadastre-se!", signup_path, class: "btn btn-large btn-primary" %>	
</div>
<blockquote class="pull-right">
  <p>Não tema aqueles que argumentam, mas aqueles que se esquivam.</p>
  <small>Dale Carnegie</small>
</blockquote>
<div class="fb-like" data-send="true" data-width="450" data-show-faces="true" data-font="tahoma"></div>
<a href="https://twitter.com/share" class="twitter-share-button" data-via="nailtongomes" data-lang="pt-BR" data-text="Arg. - O Assistente de Argumentação Jurídica"
			data-related="anywhereTheJavascriptAPI" data-count="vertical">Tweet</a>
<% content_for :script do %>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>  
<script>
	! function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if(!d.getElementById(id)) {
			js = d.createElement(s);
			js.id = id;
			js.src = "https://platform.twitter.com/widgets.js";
			fjs.parentNode.insertBefore(js, fjs);
		}
	}(document, "script", "twitter-wjs");
</script>
<% end %>
<% end %>