<% provide(:title, "Entrar") %>
<h1>Entrar</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.submit "Entrar", class: "btn btn-large btn-primary" %>
    <% end %>

    <p>Ainda não é cadastrado? <%= link_to "Cadastre-se!", signup_path %></p>
  </div>
</div>