<% provide(:title, 'Assistente') %>
<div class="row">
	<div id="improveleft" class="span6">
		<% if @sandarg.content.present? %>
		<h3>Aprimore seu argumento:</h3>
		<% else %>
		<h3>Construa e Aprimore seu argumento:</h3>
		<% end %>
		<hr />
		<%= form_for(@sandarg) do |f| %>
		<div class="pull-right">
			<%= f.submit "Gravar", class: "btn btn-large btn-primary" %>
		</div>
		<%= f.text_area :content, :placeholder => "Texto do seu argumento.", :rows => "17"%>		
		<%= f.hidden_field :overwrite, :value => false %>
		<% end %>
	</div>
	<div class="span6 pull-right" style="position: relative">
		<h3>Esquemas de Argumentos</h3>
		<hr/>
		<%= form_tag improve_url, :method => 'get' do %>
		<%= text_field_tag :search, params[:search], :placeholder => "Pesquisar" %>
		<span>Lembre-se que ao filtrar as alterações não gravadas serão descartadas.</span>
		<% end %>
		<hr/>
		<div class="accordion" id="accordion2">
			<% @schemes.each do |f| %>
			<div class="accordion-group">
				<div class="accordion-heading">
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse<%= f.id %>"> <%= f.name.upcase %> </a>
				</div>
				<div id="collapse<%= f.id %>" class="accordion-body collapse">
					<div class="accordion-inner">
						<% if current_user.present? && current_user.admin? %>
						<div class="pull-right">
							<%= link_to "Editar", edit_scheme_path(f), class: "btn btn-small" %>
							<%= link_to "Excluir", f, method: :delete, confirm: "Tem certeza?", class: "btn btn-small btn-danger" %>
						</div>
						<% end %>
						<p>
							<%= textilize f.form %>
						</p>
						<% if f.cq.present? %>
						<hr/>
						<h4>QUESTÕES CRÍTICAS</h4>
						<p>
							<%= textilize f.cq %>
						</p>
					</div>
				</div>
			</div>
			<% end %>
			<% end %>
		</div>
	</div>
</div>