<% provide(:title, 'Guia de Argumentação - Toulmin') %>
<div class="row">
	<div class="span12">
		<h1>Guia de Argumentação
		<br/>
		Toulmin</h1>
		<blockquote class="pull-right">
			<p>
				"Argumentos são interações humanas pelas quais se formulam, se debatem e/ou se confrontam linhas de raciocínio."
			</p>
			<small>Stephen Toulmin</small>
		</blockquote>
		<div class="tabbable tabs-below">
			<ul class="nav nav-tabs">
				<li class="active">
					<a href="#lE" data-toggle="tab">Construa seu Argumento</a>
				</li>
				<li>
					<a href="#lA" data-toggle="tab">Meus Rascunhos</a>
				</li>
				<li>
					<a href="#lB" data-toggle="tab">Estrutura um Argumento</a>
				</li>
				<li>
					<a href="#lC" data-toggle="tab">Qualidade em um argumento</a>
				</li>
				<li>
					<a href="#lD" data-toggle="tab">Docs.</a>
				</li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane active" id="lE">
					<%= form_for(@sandarg) do |f| %>
					<%= render 'shared/error_messages', object: f.object %>
					<div id="myCarousel" class="carousel slide">
						<div class="carousel-inner">
							<div class="active item">
								<div class="span8 offset2">
									<a class="pull-right">1/6</a>
									<p>
										Cada argumento deve deve propor, reivindicar ou concluir alguma coisa [C]:
									</p>
									<%= f.text_area :claim,   :placeholder => "Ou seja, o que você está tentando provar?", :rows => "5"%>
									<h2>1. Pretensão/Conclusão</h2>
									<hr/>
									<p>
										Aquela proposição que defende/sustenta/afirma/nega ou pede algo;
									</p>
									<p>
										O objetivo que vem por trás do argumento;
									</p>
									<p>
										A resposta para as questões:
									</p>
									<ul class="unstyled">
										<li>
											O que você está tentando provar?
										</li>
										<li>
											Qual sua tese?
										</li>
										<li>
											Qual você quer/pretende?
										</li>
									</ul>
								</div>
							</div>
							<div class="item">
								<div class="span8 offset2">
									<a class="pull-right">2/6</a>
									<p>
										Cada conclusão deve ser sustentada por fatos [G]:
									</p>
									<%= f.text_area :ground,   :placeholder => "Por que você supõe isso?", :rows => "5"%>
									<h2>2. Razões/Dados</h2>
									<hr/>
									<p>
										São os motivos, evidências, provas, causas e/ou circunstâncias que apoiam sua tese/pretensão;
									</p>
									<p>
										Aquilo que irá convencer/persuadir o oponente, auditório e/ou juiz;
									</p>
									<p>
										Normalmente, são assertivas mais concretas ou restritas (ou uma verdade geralmente aceita);
									</p>
									<p>
										Não devem ser suscetíveis de contestação OU, se forem, deverão ser suportadas/justificadas futuramente;
									</p>
									<p>
										Algum fenômeno pode fornecer as razões para algum argumento. (Ex.: Gravidez, Hematomas...);
									</p>
									<p>
										Um testemunho pessoal e/ou experiências pessoais podem enraizar um argumento;
									</p>
									<p>
										Testemunhos de autoridades ou de especialistas e dados estatísticos;
									</p>
									<p>
										Quando possível e adequado, os fatos poderão ser transformados em imagens;
									</p>
									<p>
										A resposta para as questões:
									</p>
									<ul class="unstyled">
										<li>
											O que justifica o seu pedido?
										</li>
										<li>
											Por que você supõe isso?
										</li>
										<li>
											Prove!
										</li>
									</ul>
								</div>
							</div>
							<div class="item">
								<div class="span8 offset2">
									<a class="pull-right">3/6</a>
									<p>
										Deve existir uma regra, um vínculo, entre a conclusão e os fatos [W]:
									</p>
									<%= f.text_area :warrant,   :placeholder => "Explique seu raciocínio...", :rows => "5"%>
									<h2>3. Garantia/Regra de Inferência</h2>
									<hr/>
									<p>
										Um princípio Lógico ou de Raciocínio;
									</p>
									<p>
										Geralmente, uma fórmula, uma licença ou regra formal;
									</p>
									<p>
										Normalmente não declarada, uma hipótese implicitamente aceita pelo oponente, auditório e/ou juiz;
									</p>
									<p>
										Fundamental que a garantia possa ser aplicada a diferentes situações (não especificamente àquela situação);
									</p>
									<p>
										A interpretação/entendimento de determinado Artigo/Princípio.
									</p>
									<p>
										A regra de inferência deve ser JUSTIFICADA e BASEADA sobre fundamento sólido.
									</p>
									<p>
										A resposta para as questões:
									</p>
									<ul class="unstyled">
										<li>
											Qual a relação da Conclusão com as Razões?
										</li>
										<li>
											O que permite vincular uma coisa (Razões) com a outra (Pretensão)?
										</li>
									</ul>
									<p>
										De acordo com a finalidade do argumento, as garantias podem ser:
									</p>
									<ul>
										<li>
											AUTORITÁRIAS quando baseadas em opinião de especialistas;
										</li>
										<li>
											MOTIVACIONAIS quando baseada em convicções, virtudes e/ou valores do auditório/oponente/juiz;
										</li>
										<li>
											SUBSTANTIVAS quando baseadas nas formas tradicionais de raciocínio lógico, como, por exemplo, causa-efeito, modus ponens, modus tollens etc.
										</li>
									</ul>
								</div>
							</div>
							<div class="item">
								<div class="span8 offset2">
									<a class="pull-right">4/6</a>
									<p>
										As regras provém de um fundamento [B]:
									</p>
									<%= f.text_area :backing,   :placeholder => "O quê fundamenta seu raciocínio?", :rows => "5"%>
									<h2>4. Respaldo</h2>
									<hr/>
									<p>
										Um fundamento sólido ou material para a regra de inferência;
									</p>
									<p>
										Ajuda na compreensão do raciocínio utilizado na regra de inferência. De outro modo, sem o respaldo os membros do auditório podem questionar o raciocínio do argumento;
									</p>
									<p>
										Estatísticas, uso de números para quantificar informações, podem exercer a função de respaldo, podendo criar uma alusão de verdade. (Ex.: Dados censitários, pesquisas de opinião, estudos científicos, pesquisas informais etc.)
									</p>
									<p>
										Testemunhos podem exercer a função de respaldo. (Ex.: Perícia, citações de especialistas e experiência pessoal que adicionam credibilidade ao que está sendo dito.)
									</p>
									<p>
										A resposta para as questões:
									</p>
									<ul class="unstyled">
										<li>
											Por conta de quê?
										</li>
										<li>
											O quê valida/autoriza a garantia?
										</li>
									</ul>
								</div>
							</div>
							<div class="item">
								<div class="span8 offset2">
									<a class="pull-right">5/6</a>
									<p>
										Cada argumento pode admitir excessões [R]:
									</p>
									<%= f.text_area :rebuttal,   :placeholder => "Há alguma situação em que seu argumento não se sustenta?", :rows => "5"%>
									<h2>5. Reserva/Refutador/Anulador</h2>
									<hr/>
									<p>
										É uma exceção aplicada à pretensão;
									</p>
									<p>
										Pode reduzir ou anular a força da pretensão.
									</p>
									<p>
										A resposta para as questões:
									</p>
									<ul class="unstyled">
										<li>
											Há alguma situação em que seu argumento não se sustenta?
										</li>
										<li>
											A menos que?
										</li>
									</ul>
								</div>
							</div>
							<div class="item">
								<div class="span8 offset2">
									<a class="pull-right">6/6</a>
									<p>
										Cada argumento tem sua força verbalizada [Q]:
									</p>
									<%= f.text_field :qualifier, :placeholder => "Você acha provável ou é certo?",
                    :data => {:provide => "typeahead",
                    :items => "4",
                    :source => '["necessariamente","possivelmente","é plausível","é inconteste", "não resta dúvida", "estes fatos, aqui expostos, tornam inafastável que", "demonstra-se de forma irrefutável"]'
                    }%>
									<h2>6. Qualificador</h2>
									<hr/>
									<p>
										Representa a verbalização da força do argumento.
									</p>
									<p>
										A resposta para as questões:
									</p>
									<ul class="unstyled">
										<li>
											É certo, necessário ou possível, provável?
										</li>
									</ul>
								</div>
							</div>
						</div>
						<!-- Carousel nav -->
						<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
						<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
					</div>
					<div class="pull-right">
						<% if @sandarg.content.blank? %>
						Gerar texto automático?
						<% else %>
						Sobrescrever texto do argumento?
						<% end %>
						<%= f.check_box :overwrite %> |
						<%= f.submit "Gravar", class: "btn btn-large btn-primary", :disable_with => "Aguarde..." %>
					</div>
					<% end %>
				</div>
				<div class="tab-pane" id="lA">
					<% if @sandargs.any? %>
					<% @sandargs.each do |sandarg| %>
					<div class="well">
						<h3>Rascunho [ <%= sandarg.id %> ]
						<%= link_to "Aprimorar", improve_sandarg_path(sandarg), class: "btn btn-small btn-info" %>
						<%= link_to "Ver", sandarg, class: "btn btn-small" %>
						<%= link_to "Excluir", sandarg, method: :delete, confirm: "Tem certeza?", class: "btn btn-small btn-danger" %> </h3>
						<p>
							<% if sandarg.content.present? %>
							<%= sandarg.content %>
							<% else %>
							O texto do seu rascunho ainda não foi construído.
							<% end %>
						</p>
					</div>
					<% end %>
					<% else %>
					<p>
						Você ainda não possui rascunhos...
					</p>
					<% end %>
				</div>
				<div class="tab-pane" id="lB">
					<div class="span10 offset1">
						<%= textilize Page.find_by_key('estrutura_t').value if Page.find_by_key('estrutura_t').value.present? %>
						<div align="center">
							<%= image_tag("Estrutura.png", :size => "250x400", :alt => "Estrutura de um Argumento") %>
						</div>
					</div>

				</div>
				<div class="tab-pane" id="lC">
					<%= textilize Page.find_by_key('qualidade_t').value if Page.find_by_key('qualidade_t').value.present? %>					
				</div>
				<div class="tab-pane" id="lD">
					<h3> Sugestões de Leitura: </h3>
					<br/>
					<%= textilize Page.find_by_key('leituras').value if Page.find_by_key('leituras').value.present? %>
					<hr/>
					<h3> Referências </h3><br/>
					<%= textilize Page.find_by_key('referencias').value if Page.find_by_key('referencias').value.present? %>
					<hr/>
				</div>
			</div>
		</div>
	</div>
</div>
