<%= form_for(@scheme) do |f| %>
<%= render 'shared/error_messages', object: f.object %>

<%= f.text_field :name, :placeholder => "Nome ou Título do Esquema" %>
Forma do Esquema:
<%= f.text_area :form, :placeholder => "Forma do Esquema", :rows => "5"%>
Questões Críticas:
<%= f.text_area :cq, :placeholder => "Questões Críticas", :rows => "5"%>

<hr/>
<div class="pull-right">
	<%= f.submit "Gravar", class: "btn btn-large btn-primary", :disable_with => "Aguarde..." %>
</div>
<% end %> 