<%= form_for(@scheme) do |f| %>
<%= render 'shared/error_messages', object: f.object %>

<%= f.text_field :name, :placeholder => "Nome ou Título do Esquema" %>
<%= f.text_area :form, :placeholder => "Forma do Esquema", :rows => "5"%>
<%= f.text_area :cq, :placeholder => "Questões Críticas", :rows => "5"%>

<hr/>
<div class="pull-right">
	<%= f.submit "Gravar", class: "btn btn-large btn-primary", :disable_with => "Aguarde..." %>
</div>
<% end %> 

<% content_for :script do %>
<script src="http://js.nicedit.com/nicEdit-latest.js" type="text/javascript"></script>
<script type="text/javascript">bkLib.onDomLoaded(nicEditors.allTextAreas);</script>
<% end %>