<% provide(:title, 'Pesquisa') %>
<div class="row">
	<div class="span6 offset2">
		<%= form_tag arguments_path, :method => 'get' do %>
			<%= text_field_tag :search, params[:search], :placeholder => "Pesquisar", :size => '90' %>						
		<% end %>
	</div>	
	<div class="span3">
	<%= link_to 'Melhores Argumentos', top_url, class: "btn btn-large btn-info" %>
	</div>	
	<div class="span10 offset1">
		<% if @arguments.any? %>
		<ol>
			<% @arguments.each do |argument| %>
			<li>
				<span class="content"><%= argument.content %> <%= link_to '[+]', argument %> </span>
				<% if current_user.present? && current_user.moderator? %>
				<div align="right">
					<table border="1" style="margin-top: 10px">
						<thead>
							<td>Nota:</td>
						</thead>
						<tbody>
							<td style="margin-left: 10px"> <%= ratings_for argument, :dimension => :moderador, :show_user_rating => true %> </td>
						</tbody>
					</table>
				</div>
				<% end %>
				<span class="timestamp">Incluído por <a href="users/<%= argument.user_id %>"><%= User.find_by_id(argument.user_id).name %></a> - há <%= time_ago_in_words(argument.created_at) %> </span>
				<hr/>
			</li>
			<% end %>
		</ol>
		<%= will_paginate @arguments %>
		<% else %>
		<p>Sua pesquisa não retornou resultados...</p>
		<% end %>
	</div>
</div>