<div class="row">
	<div class="span12">
		<%= form_tag arguments_path, :method => 'get' do %>
		<p>
			<%= text_field_tag :search, params[:search], :placeholder => "Pesquisar" %>
		</p>
		<% end %>
		<% if @arguments.any? %>
		<ol>
			<% @arguments.each do |argument| %>
			<li>
				<span class="content"><%= argument.content %> <%= link_to '[+]', argument %> </span>
				<div align="right">
					<table border="1" style="margin-top: 10px">
					<thead>						
						<td>Nota (Moderadores):</td>
					</thead>
					<tbody>
						<td style="margin-left: 10px">
						<% if current_user.moderator? %>
						<%= ratings_for argument, :dimension => :moderador%>
						<% else %>
						<%= ratings_for argument, :static, :dimension => :moderador%>
						<% end %>
						</td>
					</tbody>
				</table>								
				</div>
				<span class="timestamp"> Incluído há <%= time_ago_in_words(argument.created_at) %>
					por <%= User.find_by_id(argument.user_id).name %> </span>
					<hr/>
			</li>
			<% end %>
		</ol>
		<%= will_paginate @arguments %>
		<% end %>
	</div>
</div>