<% provide(:title, "Argumento de #{User.find_by_id(@argument.user_id).name}") %>
<div class="row">
	<div class="span6">
		<ul class="unstyled">
			<li>
				<span class="content"><%= @argument.content %></span>
				<span class="timestamp"> Incluído há <%= time_ago_in_words(@argument.created_at) %>
					por <%= User.find_by_id(@argument.user_id).name %> </span>
			</li>
			<% if signed_in? %>
			<div align="center">
				<table border="1" style="margin-top: 10px">
					<thead>
						<td>Nota:</td>
					</thead>
					<tbody>
						<td> <% if current_user.id != @argument.user_id %>
						<%= ratings_for @argument, :dimension => :comunidade, :show_user_rating => true %>
						<% else %>
						<%= ratings_for @argument, :static, :dimension => :comunidade %>
						<% end %> </td>
					</tbody>
				</table>
			</div>
			<span>Nota (Moderadores):
				<div id="rating">
					<% if current_user.moderator? %>
					<%= ratings_for @argument, :dimension => :moderador, :small => true, :show_user_rating => true %>
					<% else %>
					<%= ratings_for @argument, :static, :dimension => :moderador, :small => true %>
					<% end %>
				</div> </span>
			<% end %><br/> 
			<div class="fb-like" data-send="true" data-width="450" data-show-faces="true" data-font="tahoma"></div>
			<hr/>
			<a href="https://twitter.com/share" class="twitter-share-button" data-lang="pt" data-size="large" data-hashtags="ARG" data-text="Este argumento é bem interessante! O que vocês acham?" data-dnt="true">Tweetar</a>
		</ul>
	</div>
	<div class="span4">
		<div class="fb-comments" data-href="<%= url_for(@argument) %>" data-num-posts="3" data-width="450"></div>
	</div>
</div>

<% content_for :script do %>
<div id="fb-root"></div>
<script>
	( function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id))
				return;
			js = d.createElement(s);
			js.id = id;
			js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk')); 
</script>
<script>
	! function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (!d.getElementById(id)) {
			js = d.createElement(s);
			js.id = id;
			js.src = "//platform.twitter.com/widgets.js";
			fjs.parentNode.insertBefore(js, fjs);
		}
	}(document, "script", "twitter-wjs"); 
</script>
<% end %>