<% provide(:title, "Atualizando perfil") %> <h1>Atualize seu perfil</h1>

<div class="row">
	<div class="span4 offset3">
				
		<%= form_for(@user) do |f| %>
		<%= render 'shared/error_messages', object: f.object %>

		<%= f.label :name %>
		<%= f.text_field :name %>

		<%= f.label :email %>
		<%= f.text_field :email %>

		<%= f.label :password %>
		<%= f.password_field :password %>

		<%= f.label :password_confirmation %>
		<%= f.password_field :password_confirmation %>

		<%= f.submit "Gravar", class: "btn btn-large btn-primary", :disable_with => "Aguarde..." %>
		<% end %>
	</div>
	<div class="span4 pull-right ">	
	<%= gravatar_for(@user, :size => 200) %>
	<a href="http://gravatar.com/emails" target="_blank" class="btn btn-info">Alterar</a>		
	</div>	
</div>