<% provide(:title, @user.name) %>
<div class="row">
	<aside class="span4">
		<section>
			<h1> <%= gravatar_for @user %>
			<%= @user.name %> </h1>
			<% if @user.admin? %>
			<a>[Administrador]</a>
			<% end %>
			<% if @user.moderator? %>
			<a>[Moderador]</a>
			<% end %>
		</section>
		<section>
			<%= render 'shared/stats' %>
		</section>
		<section>
			<div align="center">
				<%= render 'follow_form' if signed_in? %>
			</div>
		</section>
		<% if current_user.admin? && current_user != @user %>
		<div class="field">
			Priviégios de Moderator:
			<%= link_to moderator_link_text(@user), toggle_moderator_user_path(@user) %>
		</div>
		<% end %>
	</aside>
	<div class="span8">
		<% if @user.arguments.any? %>
		<h3>Argumentos (<%= @user.arguments.count %>)</h3>
		<ol class="arguments">
			<%= render @arguments %>
		</ol>
		<%= will_paginate @arguments %>
		<% end %>
	</div>
</div>
