<%= form_for(@argument) do |f| %>
<%= render 'shared/error_messages', object: f.object %>

<%= f.text_area :content, :placeholder => "Argumente aqui!"%>

<div class="pull-right">
	<%= f.submit "Inserir", class: "btn btn-large btn-primary" %>
</div>
<%= link_to "Quero ajuda para argumentar", sandargs_path, class: "btn btn-large btn-info" %>

<% end %>