<%= form_for(@fact) do |f| %>
<%= render 'shared/error_messages', object: f.object %>

	<%= f.text_area :content, :placeholder => "Quais os fatos?", :rows => "5"%>
	<%= f.text_area :problem, :placeholder => "Qual o problema?", :rows => "5"%>

<div class="pull-right">
	<%= f.submit "Inserir", class: "btn btn-large btn-primary", :disable_with => "Aguarde..." %>
</div>
<% end %> 