<%= form_for(@fact) do |f| %>
<%= render 'shared/error_messages', object: f.object %>

<%= f.text_area :content, :placeholder => "Quais os fatos?", :rows => "5"%>
<%= f.text_area :problem, :placeholder => "Qual o problema?", :rows => "5"%>

<hr/>
<% if current_user.admin? %>
Ativo? <%= f.check_box :active %>
<% end %>
<%= f.hidden_field(:user_id, :value => current_user.id ) %>

<div class="pull-right">
	<%= f.submit "Gravar", class: "btn btn-large btn-primary", :disable_with => "Aguarde..." %>
</div>
<% end %> 
<% if current_user.admin? %>
<% content_for :script do %>
<script src="http://js.nicedit.com/nicEdit-latest.js" type="text/javascript"></script>
<script type="text/javascript">bkLib.onDomLoaded(nicEditors.allTextAreas);</script>
<% end %>
<% end %>