<%= form_for(@fact) do |f| %>
<%= render 'shared/error_messages', object: f.object %>

Fatos/Dados:
<%= f.text_area :content, :placeholder => "Quais os fatos?", :rows => "5"%>
Problema:
<%= f.text_area :problem, :placeholder => "Qual o problema?", :rows => "5"%>
<% if current_user.moderator? %>
Orientação/Guia:
<%= f.text_area :orientation, :placeholder => "Informe o que é necessário saber para argumentar sobre esse caso...", :rows => "5"%>
<% end %>
<hr/>
<% if current_user.admin? %>
Ativo? <%= f.check_box :active %>
<% end %>
<%= f.hidden_field(:user_id, :value => current_user.id ) %>

<div class="pull-right">
	<%= f.submit "Gravar", class: "btn btn-large btn-primary", :disable_with => "Aguarde..." %>
</div>
<% end %> 