<% provide(:title, 'Casos') %>
<% if @facts.any? %>
<% @facts.each do |f| %>
<div class="well">
	<h3>Caso [ <%= f.id %> ] - Criado em [ <%= f.created_at %> ]
	<%= link_to "Excluir", f, method: :delete, confirm: "Tem certeza?", class: "btn btn-small btn-danger" %>
	</h3> 
	<p>
		<%= textilize f.content %>
	</p>
	<h3>Problema</h3>
	<p>
		<%= textilize f.problem %>
	</p>
</div>
<% end %>
<% end %>
<div class="alert alert-success">
<h3>Novo Caso</h3>
</div>
<%= render 'form' %>