<% provide(:title, "Caso Gerador - C#{@fact.id}") %>
<div class="row">
	<div class="span10 offset1">
		<div class="well">
			<h3>[#C<%= @fact.id %>] - <%= @fact.created_at.strftime("Incluído em [%d/%m/%Y]") %> - por [ <%= User.find_by_id(@fact.user_id).name %> ]
			<% if current_user.admin? %>
			<%= link_to "Editar", edit_fact_path(@fact), class: "btn btn-small" %>
			<%= link_to "Excluir", @fact, method: :delete, confirm: "Tem certeza?", class: "btn btn-small btn-danger" %>
			<% end %> <a class="btn btn-primary" data-toggle="modal" href="#myModal" >Argumentar</a></h3>
			<p>
				<%= textilize @fact.content %>
			</p>
			<hr/>
			<h3>Problema</h3>
			<p>
				<%= textilize @fact.problem %>
			</p>
			<% if @fact.orientation.present? && @fact.orientation.size > 10 %>
			<hr/>
			<h3>Orientação</h3>
			<p>
				<%= textilize @fact.orientation %>
			</p>
			<% end %>			
		</div>
		<div class="span9">			
			<h3>Argumentos Tempestivos (<%= @arguments_in.count.to_s %>) - Data de Termo: [<%= @fact.fin_term.strftime("%d/%m/%Y - %H:%M") %>]</h3>			
			<% if @arguments_in.any? %>
			<ol class="arguments">
				<%= render partial: 'shared/feed_item2', collection: @arguments_in %>
			</ol>
			<% else %>
			<hr/>
			<ol class="arguments">				
				Não há argumentos para este caso inseridos antes da data de termo...
			</ol>
			<% end %>
			<hr/>
			<h3>Argumentos Intempestivos (<%=@arguments_out.count.to_s %>)</h3>						
			<% if @arguments_out.any? %>
			<ol class="arguments">
				<%= render partial: 'shared/feed_item2', collection: @arguments_out %>
			</ol>
			<% else %>
			<hr/>
			<ol class="arguments">
				Não há argumentos para este caso inseridos após a data de termo...
			</ol>
			<% end %>			
		</div>
	</div>
</div>
<div class="modal hide" id="myModal">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">
			×
		</button>
		<h3>Argumentando...</h3>
	</div>
	<div class="modal-body">
		<%= form_for(@argument) do |f| %>
		<%= render 'shared/error_messages', object: f.object %>
		<p class="counter pull-right">
			Máximo de Caracteres: 1100
		</p>
		<%= f.text_area :content, :placeholder => "Argumente aqui...", :maxlength => 1100, :rows => 10 %>
		<%= f.hidden_field(:fact_id, :value => @fact.id ) %>
		<hr/>		
		<span>Fechar esta janela não irá apagar o texto do seu argumento.</span>
	</div>
	<div class="modal-footer">
		<%= f.submit "Inserir", class: "btn btn-large btn-primary", :disable_with => "Aguarde..." %>
		<%= link_to "Ajuda para argumentar", sandargs_path, class: "btn btn-large btn-info", target: "_blank" %>
		<a href="#" class="btn btn-large" data-dismiss="modal">Fechar</a>
	</div>
	<% end %>
</div>