<!DOCTYPE html>
<html>
	<head>
		<title><%= full_title(yield(:title)) %></title>
		<%= stylesheet_link_tag "application", media: "all" %>
		<%= ajaxful_rating_style %>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<%= csrf_meta_tags %>
		<meta name="author" content="Nailton Gomes">
		<meta name="description" content="Arg. - O Assistente de Argumentação Jurídica (ARG.) que irá auxiliá-lo no armazenamento, produção e aprimoramento de argumentos jurídicos.">
		<meta name="keywords" content="argumentação jurídica, argumentos do direito penal, arg, software de argumentação">		
		<%= render 'layouts/shim' %>
	</head>
	<body>
		<%= render 'layouts/header' %>
		<div class="container">
			<% flash.each do |key, value| %>
			<%= content_tag :div, class: "alert alert-#{key}" do -%>
			<a class="close" data-dismiss="alert" href="#">&times;</a>
			<%= value %>
			<% end -%>
			<% end %>
			<%= yield %>
			<%= render 'layouts/footer' %>
		</div>
		<%= javascript_include_tag "application" %>
		<%= yield :script %>
		<script type="text/javascript">
			jQuery(document).ready(function() {
				jQuery(function() {
					var scrollDiv = document.createElement("div");
					jQuery(scrollDiv).attr("id", "toTop").html("^ Subir").appendTo("body");
					jQuery(window).scroll(function() {
						if(jQuery(this).scrollTop() != 0) {
							jQuery("#toTop").fadeIn();
						} else {
							jQuery("#toTop").fadeOut();
						}
					});
					jQuery("#toTop").click(function() {
						jQuery("body,html").animate({
							scrollTop : 0
						}, 800);
					});
				});
			});
		</script>
	</body>
</html>