<!DOCTYPE html>
<html>
	<head>
		<title><%= full_title(yield(:title)) %></title>
		<%= stylesheet_link_tag    "application", media: "all" %>		
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<%= csrf_meta_tags %>
		<%= render 'layouts/shim' %>
	</head>
	<body>
		<%= render 'layouts/header' %>
		<div class="container">
			<% flash.each do |key, value| %>
			<%= content_tag(:div, value, class: "alert alert-#{key}") %>
			<% end %>
			<%= yield %>
			<%= render 'layouts/footer' %>
		</div>
	<script type="text/javascript">
			jQuery(document).ready(function() {

				jQuery(function() {

					var scrollDiv = document.createElement("div");

					jQuery(scrollDiv).attr("id", "toTop").html("^ Subir").appendTo("body");

					jQuery(window).scroll(function() {

						if(jQuery(this).scrollTop() != 0) {

							jQuery("#toTop").fadeIn();

						} else {

							jQuery("#toTop").fadeOut();

						}

					});

					jQuery("#toTop").click(function() {

						jQuery("body,html").animate({

							scrollTop : 0

						}, 800);

					});

				});

			});

		</script>
		<%= javascript_include_tag "application" %>
	</body>
</html>